.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 63px;
}
.buttons_col{
    display: flex;
    gap: 40px;
    align-items: center;
}
.main_login{
    display: flex;
    gap: 400px;
    align-items: center;
    flex-wrap: wrap;
}
.login_form .main_form h2{
    font-size:36px ;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.login_form .main_form input{
    width: 372px;
    height: 61px;
    border-radius: 8px;
    background: white;
    border:none;
    font-size: 22px;
    font-weight: 100;
    color: #5E5E5E;
    outline: none;
    display: block;

}
.login_form .main_form .emailInput{
    margin-top: 60px;
    margin-bottom:22px ;
}
.login_form .main_form input::placeholder{
    text-align: center;
}
.login_form .main_form  .forgot_password{
    font-size: 18px;
    font-weight:100 ;
    color: #fff;
    margin-top: 8px;
    display: inline-block;
    display: flex;
    justify-content: end;
}
.login_form .main_form .login_button{
    padding:17px 156px ;
    border-radius: 8px;
    background: white;
    font-style: 20px;
    font-weight: 900;
    color: black;
    margin-top: 47px;
    margin-bottom: 36px;
}
.login_form  .options{
    font-size: 18px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    position: relative;
}
.login_form  .options::after{
    content: '';
    width: 100px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50px;
}
.login_form  .options::before{
    content: '';
    width: 100px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right:-50px;
}
.social_icons ul{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;

}
.social_icons .option_icons{
    display: inline-block;
    width:90px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.singUp {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    margin-top: 52px;
    display: inline-block;
} 
.singUp span{
    font-weight: 900;
} 